.cart-container{
    width:90%;
    max-width:1400px;
    margin:40px auto;
}

.cart-title{
    text-align:center;
    color:#0f766e;
    font-size:40px;
    margin-bottom:40px;
}

.cart-item{
    margin-bottom:35px;
}

.cart-actions{

    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;

    margin-top:20px;
    margin-bottom:20px;

}

.cart-actions button{

    border:none;
    cursor:pointer;

}

.qty-btn{

    width:42px;
    height:42px;

    border-radius:8px;

    background:#0f766e;

    color:white;

    font-size:22px;

}

.qty{

    font-size:24px;

    font-weight:bold;

    width:40px;

    text-align:center;

}

.remove-btn{

    padding:12px 25px;

    background:#ef4444;

    color:white;

    border-radius:8px;

    font-size:16px;

}

.remove-btn:hover{

    background:#dc2626;

}

.checkout-section{

    text-align:center;

    margin-top:50px;

}

.checkout-btn{

    margin-top:20px;

    padding:15px 40px;

    border:none;

    border-radius:10px;

    background:#0f766e;

    color:white;

    font-size:18px;

    cursor:pointer;

}

.checkout-btn:hover{

    background:#115e59;

}

.empty-state{

    text-align:center;

    padding:80px;

}

.empty-state h1{

    font-size:80px;

}

.empty-state h2{

    color:#0f766e;

    margin-top:20px;

}

.empty-state p{

    color:#777;

    margin-top:10px;

}

@media(max-width:768px){

.cart-actions{

flex-wrap:wrap;

}

.checkout-btn{

width:100%;

}

}