*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,Helvetica,sans-serif;

}

.navbar{

height:75px;

background:#0f766e;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

position:sticky;

top:0;

z-index:1000;

box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.logo{

display:flex;

align-items:center;

gap:10px;

font-size:35px;

font-weight:bold;

text-decoration:none;

color:white;

}

.logo span{

color:white;

text-decoration:none;

}

.logo:hover{

color:white;

}

.search-box{

width:420px;

background:white;

border-radius:30px;

display:flex;

align-items:center;

padding:12px 20px;

}

.search-icon{

color:rgb(15, 15, 15);

font-size:18px;

}

.search-box input{

width:100%;

border:none;

outline:none;

font-size:16px;

margin-left:10px;

}

.nav-links{

display:flex;

align-items:center;

gap:20px;

}

.nav-links a{

color:white;

text-decoration:none;

font-size:17px;

font-weight:600;

transition:.3s;

display:flex;

align-items:center;

justify-content:center;

}

.nav-links a:hover{

color:#fde047;

transform:scale(1.1);

}

.icon-link{

position:relative;

font-size:22px;

}

.badge{

position:absolute;

top:-8px;

right:-15px;

width:15px;

height:15px;

background:red;

color:white;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:11px;

font-weight:bold;

}

.welcome-text{

color:white;

font-size:17px;

font-weight:bold;

}

@media(max-width:768px){

.navbar{

flex-direction:column;

height:auto;

padding:20px;

gap:20px;

}

.search-box{

width:100%;

}

.nav-links{

flex-wrap:wrap;

justify-content:center;

gap:15px;

}

}
.nav-item{
    display:flex;
    align-items:center;
    gap:4px;
    margin-left:2px;
    text-decoration:none;
    color:white;
    font-weight:600;
}
.admin-link{
display:flex;
align-items:center;
gap:8px;
margin-left:1px;
color:white;
font-weight:600;
text-decoration:none;
font-size:18px;
}

.admin-link:hover{
color:#ffd54f;
}