.payment-success{

height:80vh;

display:flex;

justify-content:center;

align-items:center;

background:#f5f7fa;

}

.success-card{

background:white;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.15);

width:450px;

}

.success-card h1{

color:#0f766e;

margin-bottom:20px;

}

.success-card h2{

font-size:35px;

margin-bottom:20px;

}

.success-card p{

font-size:18px;

color:#666;

margin-bottom:30px;

}

.success-buttons{

display:flex;

justify-content:center;

gap:20px;

}

.success-buttons button{

padding:14px 25px;

border:none;

border-radius:10px;

background:#0f766e;

color:white;

cursor:pointer;

font-size:16px;

}

.success-buttons button:hover{

background:#0b5d58;

}