.wishlist-container{

padding:40px;

min-height:70vh;

}

.wishlist-title{

text-align:center;

color:#0f766e;

margin-bottom:40px;

}

.wishlist-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(270px,1fr));

gap:30px;

}

.wishlist-remove-btn{

width:100%;

padding:12px;

margin-top:10px;

background:#ef4444;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

}

.empty-state{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

height:50vh;

text-align:center;

}

.empty-state h1{

font-size:70px;

margin-bottom:20px;

}

.empty-state h2{

color:#0f766e;

margin-bottom:10px;

}

.empty-state p{

color:#666;

}

@media(max-width:768px){

.wishlist-container{

padding:20px;

}

.wishlist-grid{

grid-template-columns:1fr;

}

}